*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  box-sizing: inherit;
}
main{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 3rem;
}

.movies{
  max-width: 1000px;
  padding: 1rem; 
  display: grid; 
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 2rem;
}

.movie{
  border: thick solid lightgray;
  border-radius: 1rem;
}
img{  
  max-width: 100%;
  height: auto;  
}